# Ignore node_modules in both folders
client/node_modules/
server/node_modules/

# Ignore build folder (for React web projects)
client/build/

# Ignore environment variables
client/.env
server/.env

# Ignore system files
.DS_Store
.env
.env.local
*.log
